<div class="container">
      <!--Main Navigation-->
      <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-light default-color lighten-4 scrolling-navbar">
          <div class="container">
    
            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
              <img src="https://i.pinimg.com/originals/3b/63/3d/3b633dd2227bfeac32a41e49e236b7fa.png" height=70>
            </a>
    
          </div>
        </nav>
        <!-- Navbar -->
    
      </header>
      <!--Main Navigation-->
    
      <!--Main layout-->
      <main class="mt-6 pt-6">
        <div class="container">
        
              <!--Section: Jumbotron-->
              <section class="card aqua-gradient wow fadeIn" id="intro">
        
                <!-- Content -->
                <div class="text-center bg-light" >
                  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/112420-sad-songs-2020-update-1606243997.gif" height=500 width="100%" >
                </div>
                <!-- Content -->
              </section>
              <!--Section: Jumbotron-->
        
              <hr class="my-2">
              <!--Web application start-->
                  <app-web-app></app-web-app>
              <!--Web application End-->
            </div>
      </main>
          <!--Main layout-->
    
      <!--Footer-->
      <footer class=" bg-dark text-center text-lg-start">
        <hr class="my-4">
    
        <!-- Social icons -->
        <div class="pb-4" >
          <a href="https://www.facebook.com/Bandsintown/" target="_blank">
            <i class="fab fa-facebook fa"></i>
          </a>
    
          <a href="https://twitter.com/bitforartists?lang=en" target="_blank">
            <i class="fab fa-twitter fa"></i>
          </a>
    
          <a href="https://www.youtube.com/bandsintown" target="_blank">
            <i class="fab fa-youtube fa"></i>
          </a>
    
          <a href="https://www.bandsintown.com/" target="_blank">
            <i class="fab fa-google-plus-g fa"></i>
          </a>
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
          <p>© 2019 Copyright:</p>
          <a href="https://www.bandsintown.com/" target="_blank"> Bandsintown.com </a>
        </div>
        <!--/.Copyright-->
        </footer>
        <!--/.Footer-->
  
</div>